@media screen and (min-width: 1024px) {
    body {
        background-size: 250%;
    }
    #login {
        opacity: 0;
    }
    .pointer-right {
        margin-top: 10%;
    }
}
@media screen and (min-width: 1280px) {
    body {
        background-size: 150%;
    }
    #login {
        opacity: 1;
    }
}
@media screen and (min-width:640px) {
    body {
        background-size: 350%;
    }
    #login {
        opacity: 0;
    }
    .pointer-right {
        margin-top: 10%;
    }
}


body {
    background: url(fon.jpeg);
    background-position: top;
    position: fixed;
    background-size: 100%
}
.content {
    font-family: sans-serif;
    background-color: white;
    height: auto;
    color: black;
    opacity: 0.8;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.3);
    width: auto;
    text-align: center;
}
.button{
    background: #FFFFFFFF;

    height:35px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #0540FF;
    color:#0540FF;
    }
    .button:hover{
    background: #0540FF;
    color:#FFFFFFFF;
}

.pointer-left {
    margin-right: 20%;
    white-space: nowrap;
}
.pointer-right {
    margin-left: 20%;
    white-space: nowrap;
}
#login {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    background: rgba(255, 255, 255, 0);
}

li {
    float: left;
    /* opacity: 50%; */
}

li a.pointer-left{
    display: block;
    color: #c2c2c2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.1%;
}
li a.pointer-right{
    display: block;
    color: #c2c2c2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.1%;
}
#name { /*ИЗМЕНИТЬ ПАДДИНГ НА ПРОЦЕНТЫ*/
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 150%;
    font-family: sans-serif;
    margin-left: 30%;
    font-weight: bold;
}
#about {
    margin-left: 45%;
}
#contact {
    margin-left: 25%;
}

/* Change the link color to #111 (black) on hover */
li a.pointer-left:hover {
    color: white;
}
li a.pointer-right:hover {
    color: white;
}
#lang {
    background-size: 10%;
    margin-left: 800px;
    margin-top: 0.1%;
}

#login-img {
    background-size: 10%;
    margin-left: 20px;
    margin-top: 6px;
    cursor: pointer;
    opacity: 0.7;
    float: left;
}
#login-img:hover {
    opacity: 1;
}
.search {
    /* устанавливаем необходимую ширину формы в зависимости от дизайна
    ** форма без проблем растягивается */
    width: 35%;
    margin-top: 17%;
    margin-left: 8%;
    /* кнопку отправки будем позиционировать абсолютно,
    ** поэтому необходимо это свойство */
    position: relative;
}

.search input {
    /* отключаем бордюры у инпутов */
    border: none;
}

/* стили для поля ввода */
.search .input {
    /* растягиваем поле ввода на всю ширину формы */
    width: 100%;

    /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
    ** регулируем высоту формы
    ** внутренний отступ справа (37px) делаем больше левого,
    ** т.к. там будет размещена кнопка отправки	*/
    padding: 8px 48px 12px 40px;

    /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* добавляем внутренние тени */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

    /* закругляем углы */
    border-radius: 20px;

    background: #EEE;
    font: 25px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
    margin-left: 70%;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
    /* позиционируем кнопку абсолютно от правого края формы */
    position: absolute;

    width: 50px;

    /* растягиваем кнопку на всю высоту формы */
    height: 100%;

    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

    /* добавляем прозрачность кнопке отправки */
    opacity: 0.5;
    margin-left: 70%;
    top: 0;
    left: 0;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
    opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
    -webkit-appearance: none;
}
#searchform {
    margin-top: 200px; 
}

#result {
    background-color: white;
    margin-top: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 30px;
    color: black; 
    margin-left: 22%;
    margin-right: 26%;
    font-size: 25px;
    font-family: sans-serif;
    height: auto;
    white-space: pre;
} 