<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}|AuroraAssistance</title>
    <link href="{% static 'main/main.css' %}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" media="screen and (orientation: portrait) and (max-width:640px), projection" href="{% static 'main/main.css' %}">
    <link rel="stylesheet" media="screen and (orientation: portrait) and (max-width:1024px), projection" href="{% static 'main/main.css' %}">
    <link rel="stylesheet" media="screen and (orientation: portrait) and (min-width:1280px), projection" href="{% static 'main/main.css' %}">
    <link rel="icon" href="{% static 'main/favicon.ico' %}">
    <style>
        body {
        background: url({% static 'main/fon.jpeg' %});
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        position: fixed;
        }
    </style>
</head>
<body>
<ul>
  <li><a href="{% url 'home' %}" id="name">AURORA</a></li>
    <li><a class="pointer-left" id="about" href="{% url 'about' %}" style="margin-right:20%;">О нас</a></li>
    {% if user.is_authenticated %}
    <li><a class="pointer-left" id="contact" href="{% url 'support' %}">Написать нам</a></li>
    <li><a class="pointer-left" href="{% url 'profile' %}" id="profile">Профиль</a></li>
    {% else %}
    <li><a class="pointer-left" id="registration" href="{% url 'registration' %}">Регистрация</a></li>
    {% endif %}
    <li><a href="#" class="pointer-right" id="lang">English</a></li>
    <li><img src="{% static 'main/user.jpg' %}" id="login-img" width="40" height="40"  class="pointer-right"></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout'%}?next={% url 'home' %}" class="pointer-right" id="logout">Выйти</a></li>
    {% else %}
    <li><a class="pointer-right" href="{% url 'login'%}" id="login">Вход</a></li>
    {% endif %}
</ul>
{% block content %}{% endblock %}
</body>
</html>